# Database Settings
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=slta

# Redis Settings
REDIS_URL=redis://redis:6379/0

# Keycloak Settings
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_REALM=slta-realm
KC_CLIENT_ID=slta-api
KC_SERVER_URL=http://localhost:8080

# MinIO Settings
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=shipments
